doctype html

html(lang="en")

    head
        title
        
        script(src='bower_components/moment/moment.js')
        
    body    
        input#latitudeInput(type="text", placeholder="Latitude")
        input#longitudeInput(type="text", placeholder="Longitude")
        
        hr
        
        button#submitButton Submit
        
        hr
        
        table
            thead
                tr
                    th Date
                    th Sunrise
                    th Sunset
            tbody
                tr
                    td
                    td
                    td
                tr
                    td
                    td
                    td
                tr
                    td
                    td
                    td
                tr
                    td
                    td
                    td
                tr
                    td
                    td
                    td
                
    script(type='text/javascript',src='app.js')       
        
